{% extends 'base.html' %}


{% block content %}
    <form action="" method="get">
    {{ form.csrf_token }}
    {% if form.csrf_token.errors %}
    <div class="warning">You have submitted an invalid CSRF token</div>
    {% endif %}
    <div>{{ form.email.label(class='form-control-label') }} {{form.username(class='form-control')}}</div>
    <div>{{ form.password.label(class='form-control-label')  }} {{form.password(class='form-control')}}</div>
        <br>
        <input type="submit" value="Register" class="btn btn-info">
    </form>
{% endblock content %}